<form action="/figures"  method="post"> 
<label for="name">Name</label>
<input type="text" id="figure_name" name="figure[name]" value=""/>

<label>Title</label>
<% @titles.each do |title|%>
<input type="checkbox" name="figure[title_ids][]" id = "title_<%= title.id %>">
<% end %>

<input type="checkbox" name="figure[landmark_ids][]">
<input type="checkbox" name="landmark[name]">
<input type="checkbox" name="title[name]">
<input type="submit" value="Create New Figure"/>
</form>
